/*id #
class .*/

/*Login*/

.loginYregistro {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    

.inicioSesion {
    grid-row-start: 2;
}

.registro {
    grid-row-start: 3;
}

/*modPreguntas*/

#sans {
    background-color: aquamarine;
}

#RegresarPre {
    color: blueviolet;
}

.modificacionPreguntas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    

.modPreguntas {
    grid-column-start: 1;
    grid-row-start: 2;
}

.botonDatos {
    grid-column-start: 1;
    grid-row-start: 3;
}

.div4 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.div5 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.botonPut {
    grid-column-start: 2;
    grid-row-start: 3;
}

.div7 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.div8 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.botonDelete {
    grid-row-start: 3;
}

/*modUsuarios*/

#RegresarPre {
    color: blueviolet;
}

.modUsuariosCompleta {
    text-align: center;
}


.modificacionUsuarios {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    

.botontUsu {
    grid-column-start: 1;
    grid-row-start: 2;
}

.botonBorrarU {
    grid-column-start: 1;
    grid-row-start: 3;
}

.desplegablePartidas {
    grid-column-start: 2;
    grid-row-start: 1;
}

.botonParti {
    grid-column-start: 2;
    grid-row-start: 2;
}

.botonBorrarP {
    grid-row-start: 3;
}
 