/*id #
class .*/

/*Login*/
.inputUsuario {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}
    

.inputContraseña {
    grid-row-start: 2;
}

.botonInicio {
    grid-row-start: 3;
}

.registro {
    grid-row-start: 4;
}

.botonRegistro {
    grid-row-start: 5;
}

/*menu*/

.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}
    

.subtituloMenu {
    grid-row-start: 2;
}

.botonJuegoMenu {
    grid-row-start: 3;
}

.botonRankingMenu {
    grid-row-start: 4;
}

/*ranking*/


.tituloRanking {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    

.textoPuntaje {
    grid-row-start: 2;
}

.tabla {
    grid-row-start: 3;
}
        
/*menuAdmin*/

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    

.div2 {
    grid-row-start: 2;
}

.div3 {
    grid-row-start: 2;
}

.div4 {
    grid-row-start: 3;
}

.div5 {
    grid-row-start: 3;
}


/*modPreguntas*/

/*modUsuarios*/

#RegresarPre {
    color: blueviolet;
}

.modUsuariosCompleta {
    text-align: center;
}


.modificacionUsuarios {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    

.botontUsu {
    grid-column-start: 1;
    grid-row-start: 2;
}

.botonBorrarU {
    grid-column-start: 1;
    grid-row-start: 3;
}

.desplegablePartidas {
    grid-column-start: 2;
    grid-row-start: 1;
}

.botonParti {
    grid-column-start: 2;
    grid-row-start: 2;
}

.botonBorrarP {
    grid-row-start: 3;
}
 
/*Juego*/

/*fin*/